:root{
    --width-break: 600px;
}
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
body{
    display: block;
    margin: auto;
    max-width: var(--width-break);
    font-family: 'Dancing Script', cursive;

    /* margin: 8px; */
}
header {
    background-color: #F2C94C;
    /* padding:1rem 0rem; */
    color:black;

}
header h2{
    margin:auto;
    padding: 0.5rem 8rem;
    color:black;
}
header p{
    color:black;
    padding: 0.3rem 2rem;
}
#text-area
{
    margin:1rem 0rem;
    box-sizing: border-box;
    display: block;
    min-height: 120px;
    min-width: 100%;
    max-width: 80%;
    /* margin: 2rem 0rem; */
    border: 1px solid black;
    padding: 0.5rem;

}
#btn-translate
{
    /* margin:1rem 2rem; */
    margin:1rem 0rem;
    display: flex;
  align-items: center;
  justify-content: center;
  border:none;
  font-size: large;
  padding: 0.8rem 1rem;
    background-color:#F2C94C;
    color:black;

}

#output-text-area
{
    box-sizing: border-box;
    max-width: 100%;
    margin:1rem 0rem;
    display: block;
    min-height: 120px;
    padding: 0.5rem;
    border: 1px solid black;
}